@model IEnumerable<ExamPortal.Models.Student_Current_Qualification>

@if ((((List<string>)Session["role"]).Contains("coordinator") && (Model.All(i => i.Student.Class.class_coordinator == (int)Session["facultyId"]))) || ((List<string>)Session["role"]).Contains("admin"))
{
    @Html.ActionLink("Create New", "CreateCurrentQualification","Teachers",new { }, new { @class = "btn btn-primary" })
}
<fieldset>
    <legend>Current Qualification</legend>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject.subject_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.marks)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.last_appeared)
                        </th>
                        @if ((((List<string>)Session["role"]).Contains("coordinator") && (Model.All(i => i.Student.Class.Teacher.faculty_id == (int)Session["facultyId"]))) || ((List<string>)Session["role"]).Contains("admin"))
                        {
                            <th></th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.subject_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.marks)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.last_appeared)
                            </td>
                            @if ((((List<string>)Session["role"]).Contains("coordinator") && (Model.All(i => i.Student.Class.Teacher.faculty_id == (int)Session["facultyId"]))) || ((List<string>)Session["role"]).Contains("admin"))
                            {
                            <td>
                                @Html.ActionLink("Add New", "NewCurrentQualification", "Coordinators", new { scholar_no = item.scholar_no }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Edit", "EditCurrentQualification", "Coordinators", new { scholar_no = item.scholar_no, subject_code = item.subject_code }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "DeleteCurrentQualification", "Coordinators", new { scholar_no = item.scholar_no, subject_code = item.subject_code }, new { @class = "btn btn-danger" })
                            </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</fieldset>
